@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Muli:400);


* {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 100%;
}

body {
	display: block;
	width: 50%;
	margin: 10px auto 10px auto;
	background-color: #fff;
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
	font-weight: 700;
	margin-bottom: 2em;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #107fc9;
	border-bottom: 1px dotted;
	padding: 1em 0 1.5em;
}

.user-info {
	clear: both;
	background-color: #fff;
	margin: 50px 0px;
}

.user-image img {
	float: left;
	width: 72px;
	height: 72px;
	margin-right: 16px;
	border-radius: 36px;
}

.user-date {
	padding-top: 9px;
	text-transform: uppercase;
	font-size: 11px;
	color: #999;
}

.user-name a {
	border-bottom: 1px dashed;
	color: #107fc9;
	padding-bottom: 2px;
	display: inline-block;
	margin-bottom: 7px;
}
.user-name a:hover {
	border-bottom: 1px solid;
}
.user-text {
	font-family: "Muli", Arial, sans-serif;
}